roswtf==1.17.0
controller-manager==0.20.0
rqt-moveit==0.5.11
qt-gui-py-common==0.4.2
camera-calibration==1.17.0
roscreate==1.15.8
rqt_robot_steering==0.5.12
rosservice==1.17.0
rqt_bag_plugins==0.5.1
rqt-robot-monitor==0.5.15
rqt_plot==0.4.13
python-qt-binding==0.4.4
genpy==0.6.15
rosmsg==1.17.0
qt-gui==0.4.2
laser_geometry==1.6.7
tf2-py==0.7.7
image-geometry==1.16.2
rqt_nav_view==0.5.7
gencpp==0.7.0
rqt-rviz==0.7.0
xacro==1.14.19
rqt-runtime-monitor==0.5.10
roslaunch==1.17.0
rqt-logger-level==0.4.12
rqt_pose_view==0.5.11
diagnostic-common-diagnostics==1.11.0
gazebo_ros==2.9.2
joint-state-publisher==1.15.1
message-filters==1.17.0
cv-bridge==1.16.2
gazebo_plugins==2.9.2
rqt-console==0.4.12
diagnostic-analysis==1.11.0
catkin==0.8.10
roslz4==1.17.0
qt-dotgraph==0.4.2
rostest==1.17.0
rosbag==1.17.0
gennodejs==2.0.2
rqt_py_console==0.4.10
rqt_topic==0.4.13
tf-conversions==1.13.2
rqt_graph==0.4.14
rostopic==1.17.0
rosmake==1.15.8
rosgraph==1.17.0
rospy==1.17.0
tf==1.13.2
rosunit==1.15.8
rqt_top==0.4.10
rqt_bag==0.5.1
rosclean==1.15.8
rqt_gui_py==0.5.3
rqt_publisher==0.4.10
rqt_py_common==0.5.3
qt-gui-cpp==0.4.2
sensor-msgs==1.13.1
resource_retriever==1.12.7
bondpy==1.8.6
angles==1.9.13
tf2-kdl==0.7.7
genmsg==0.6.0
dynamic-reconfigure==1.7.3
rviz==1.14.25
rqt-robot-dashboard==0.5.8
rosboost-cfg==1.15.8
rqt_service_caller==0.4.10
rqt-image-view==0.4.17
rqt_action==0.4.9
roslint==0.12.0
rosparam==1.17.0
interactive-markers==1.12.0
genlisp==0.4.18
geneus==3.0.0
rqt_dep==0.4.12
smach-ros==2.5.2
tf2-ros==0.7.7
camera-calibration-parsers==1.12.0
smclib==1.8.6
rqt_shell==0.4.11
rosmaster==1.17.0
rqt_gui==0.5.3
rqt_msg==0.4.10
topic-tools==1.17.0
rqt_web==0.4.10
smach==2.5.2
actionlib==1.14.0
joint-state-publisher-gui==1.15.1
rqt_launch==0.4.9
rqt-reconfigure==0.5.5
rosnode==1.17.0
rqt-tf-tree==0.6.4
tf2-geometry-msgs==0.7.7
roslib==1.15.8
controller-manager-msgs==0.20.0
diagnostic-updater==1.11.0
rqt_srv==0.4.9
chroma-hnswlib==0.7.1
safetensors==0.5.3
onnxruntime==1.14.1
uvloop==0.18.0
websockets==11.0.3
jax-jumpy==1.0.0
fasteners==0.19
pyparsing==3.1.4
humanfriendly==10.0
multidict==6.0.5
trimesh==4.4.1
charset-normalizer==3.4.1
rsa==4.9
glfw==2.8.0
Markdown==3.4.4
grpcio==1.62.3
scipy==1.7.3
dm-control==1.0.13
Farama-Notifications==0.0.4
fastapi==0.99.1
pip==22.3.1
asynctest==0.13.0
tokenizers==0.13.3
pydantic==1.10.21
async-timeout==4.0.3
aiohttp==3.8.6
requests==2.31.0
transformers==4.30.2
wandb==0.18.7
importlib-resources==5.12.0
docker-pycreds==0.4.0
filelock==3.12.2
anyio==3.7.1
idna==3.10
sentry-sdk==2.24.1
PyYAML==6.0.1
transforms3d==0.4.2
sapien==2.2.1
lxml==5.3.1
flatbuffers==25.2.10
backoff==2.2.1
six==1.17.0
monotonic==1.6
tabulate==0.9.0
fsspec==2023.1.0
GitPython==3.1.44
typing_extensions==4.7.1
pytz==2025.2
attrs==24.2.0
pyasn1==0.5.1
platformdirs==4.0.0
Cython==3.0.12
soupsieve==2.4.1
Hydra==2.5
Werkzeug==2.2.3
yarl==1.9.4
pybullet==3.2.7
PyPika==0.48.9
overrides==7.7.0
wheel==0.38.4
absl-py==2.1.0
h5py==3.8.0
tensorboard-plugin-wit==1.8.1
setuptools==65.6.3
torch==1.13.1
imageio==2.31.2
watchfiles==0.20.0
dm-env==1.6
PySocks==1.7.1
mujoco-py==2.1.2.14
httpx==0.24.1
exceptiongroup==1.2.2
importlib-metadata==4.13.0
certifi==2022.12.7
antlr4-python3-runtime==4.9.3
uvicorn==0.22.0
SQLAlchemy==2.0.39
termcolor==2.3.0
h11==0.14.0
cloudpickle==2.2.1
matplotlib==3.5.3
nvidia-cuda-nvrtc-cu11==11.7.99
gitdb==4.0.12
numpy==1.21.6
MarkupSafe==2.1.5
kiwisolver==1.4.5
langchain==0.0.27
cached-property==1.5.2
google-auth==2.38.0
posthog==3.23.0
aiosignal==1.3.1
psutil==7.0.0
regex==2024.4.16
pyasn1-modules==0.3.0
json5==0.9.16
gymnasium==0.28.1
requests-oauthlib==2.0.0
cachetools==5.5.2
starlette==0.27.0
nvidia-cublas-cu11==11.10.3.66
stable-baselines3==1.8.0
smmap==5.0.2
opencv-python==4.11.0.86
httpcore==0.17.3
nvidia-cuda-runtime-cu11==11.7.99
Pillow==9.5.0
greenlet==3.1.1
python-dotenv==0.21.1
gym==0.21.0
mani-skill2==0.4.2.post0
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
labmaze==1.0.6
cycler==0.11.0
beautifulsoup4==4.13.3
zipp==3.15.0
dm-tree==0.1.8
graphlib_backport==1.1.0
python-dateutil==2.9.0.post0
gdown==4.7.3
tqdm==4.67.1
fonttools==4.38.0
Rtree==1.0.1
protobuf==3.20.3
omegaconf==2.3.0
pandas==1.3.5
huggingface-hub==0.16.4
sympy==1.10.1
google-auth-oauthlib==0.4.6
mpmath==1.3.0
distro==1.9.0
packaging==24.0
pycparser==2.21
tensorboard-data-server==0.6.1
setproctitle==1.3.3
pulsar-client==3.3.0
d4rl==1.1
openai==1.39.0
frozenlist==1.3.3
tensorboard==2.11.2
httptools==0.6.0
click==8.1.8
coloredlogs==15.0.1
mujoco==2.3.6
imageio-ffmpeg==0.5.1
cffi==1.15.1
PyOpenGL==3.1.9
chromadb==0.4.0
urllib3==2.0.7
sniffio==1.3.1
metaworld==0.1.0
